/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}
/* Colors */
:root {
    --colour-brand-light: #2B7FFF;
    --colour-brand-dark: #011C44;
    --primary-colour-light:#FFFFFF;
    --primary-colour-dark: black;
    --light-secondary-color: #747272;
    --dark-secondary-color: #4A4A4A;
}

/* Base */
body {
    color: var(--colour-brand-dark);
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: normal;
}
ul {
    list-style-type: none;
}
address {
    font-style: normal;
}
/* Button */
.button {
    background-color: var(--colour-brand-light);
    border-radius: 32px;
    color: var(--primary-colour-light);
    border: 2px solid var(--colour-brand-light);
    cursor: pointer;
    font-weight: 600;
}
.button:hover {
color: var(--colour-brand-dark);
background-color: transparent;
}
/* Links */
.link {
    text-decoration: none;
    color: var(--colour-brand-dark);
}
.link:hover {
    color: var(--colour-brand-light);
    font-weight: 700;
}
/* Hero section */
.hero-title {
    color: var(--colour-brand-light);
    text-transform: capitalize;
    font-family: 'Play', sans-serif;
        font-size: 140px;
        font-weight: 700;
        line-height: 1.2;
}
.hero-text {
    color: var(--dark-secondary-color) ;
    font-size: 12px;
    line-height: 1.5;
}

/* Title */
.section-title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
}
.section-title .accent{
    color: var(--colour-brand-light);
}
.section-title .capitalize {
    text-transform: capitalize;
}

/* Procedures section */
.procedure-title {
color: var(--primary-colour-light);
font-size: 22px;
line-height: 1.2;
font-weight: 400;
}
/* Advantages section */
.advantages-text {
    color: var(--primary-colour-dark);
    line-height: 1.3;
}
/* About us section */
.about-us-text {
    font-size: 22px;
    line-height: 1.7;
}
.about-us-text .accent {
    text-transform: capitalize;
}
/* Contact section */ 
.contact-text {
    color: var(--primary-colour-light);
    font-size: 22px;
    font-weight: 600;
}
.contact-text .accent{
color: var(--colour-brand-light);
}
.privacy-policy {
    color: var(--light-secondary-color);
    font-size: 12px;
    line-height: 1.5;
}
.privacy-police-link {
color: var(--light-secondary-color); 
}
/* footer */
footer .link {
    color: var(--primary-colour-light);
    font-size: 16px;
}
footer {
    background-color: #011C44;
}
.address-link {
    color: var(--primary-colour-light);
    text-decoration: none;
    font-size: 16px;
}
.address-copyright {
    color: var(--light-secondary-color);
    font-size: 13px;
}
